.boxLogo{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.simboloLogo, .nomeEmpresa{
    border: 1px solid red;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.simboloLogo span{
    font-size: 30pt;
    border: 1px solid purple;
    text-align: center;
    margin: auto;
}
.nomeEmpresa{
    border: 1px solid blue;
    width: 80%;
}