*{
    box-sizing: border-box;
}
.cabecalho{
    border: 1px solid black;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.imagemfundo{
    position: relative;
    height: 500px;
    background-image: url('../../img/banner-normal.png');
}
.imagemfundo::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.550);
}

@media(max-width: 400px){
    .imagemfundo{
        background-image: url('../../img/cell-banner.png');
    }
}