*{
    box-sizing: border-box;
}
.cabecalho{
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.imagemfundo{
    height: 500px;
    border: 1px solid black;
}

@media(max-width: 400px){

}